<!-- Extending layout.html template so that everything there is included in this page -->
{% extends "layout.html" %}

{% block title %}: Diary{% endblock %}

{% block body %}
<!-- Forms to change session["date"] using get method-->
<div class="container mb-3">
    <form action="/diary" method="get" id="calendar">
        <div class="mb-3">
            <input type="date" value="{{ session['date'] }}" name="date" class="form-control">
        </div>
    </form>
    <form action="/diary" method="post">
        <button type="submit" name="arrow" class="btn btn-primary" value="back"><</button>
        <button type="submit" name="arrow" class="btn btn-primary" value="forward">></button>
    </form>
</div>
<!-- Forms to update database -->
<div class="container py-3">
    <h3>Add an Exercise</h3>
</div>
<div class="container mb-3">
    <form action="/diary" method="post">
        <div class="mb-3">
            <input type="text" name="exercise" class="form-control-lg" placeholder="Exercise">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Add Exercise</button>
    </form>
</div>
<div class="container py-3">
    <h3>Delete an Exercise</h3>
</div>
<div class="container mb-3">
    <form action="/diary" method="post">
        <div class="mb-3">
            <select class="form-select" name="exercise-del" id="exercise-del">
                <option selected disabled>--- Choose an Exercise ---</option>
                <!-- exercises variable passed in from app.py, SQL query for all exercises for current user-->
                {% for e in exercises %}
                <option value="{{ e[1] }}">{{ e[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Delete Exercise</button>
    </form>
</div>
<div class="container py-3">
    <h3>Add an Entry</h3>
</div>
<div class="container mb-3">
    <form action="/diary" method="post">
        <div class="mb-3">
            <select class="form-select" name="exercise-select">
                <option selected disabled>--- Choose an Exercise ---</option>
                {% for e in exercises %}
                <option value="{{ e[1] }}">{{ e[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input type="text" name="weight" class="form-control-lg" placeholder="Weight">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="units">
                <option selected disabled>--- Pick a Unit ---</option>
                <option value="kg">kg</option>
                <option value="lbs">lbs</option>
              </select>
        </div>
        <div class="mb-3">
            <input type="text" name="reps" class="form-control-lg" placeholder="Total Reps">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Add Entry</button>
    </form>
</div>
<div class="container py-3">
    <h3>Today's Entries</h3>
</div>

<!-- Table to show users diary entries for selected date -->
<div class="container mb-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Exercise</th>
                <th scope="col">Weight</th>
                <th scope="col">Units</th>
                <th scope="col">Total Reps</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- entries variable passed in from app.py -->
            {% for entry in entries %}
            <tr>
                <td>{{ entry[2] }}</td>
                <td>{{ entry[3] }}</td>
                <td>{{ entry[4] }}</td>
                <td>{{ entry[5] }}</td>
                <td>
                    <form action="/diary" method="post">
                        <input type="hidden" name="id" value="{{ entry[0] }}">
                        <button type="submit" class="btn btn-link">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 

<script>
    /* Make calendar form submit without submit button */
    let form = document.getElementById("calendar")
    form.addEventListener("change", function onchange() {
        form.submit();
    });

    /* Show user what page they're on with dark links on navbar */
    document.getElementById("diary").classList.add("link-dark")

    /* Search box for select menus */
    $(document).ready(function() {
        $(".form-select").select2({
            theme: "bootstrap-5"
        });
    });
</script>
{% endblock %}