{% extends "layout.html" %}

{% block title %}: Login{% endblock %}

{% block body %}
<div class="container mb-3">
    <h1>Login</h1>
</div>
<div class="container py-3">
    <form action="/login" method="post">
        <div class="mb-3">
            <input type="text" class="form-control-lg" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control-lg" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Login</button>
    </form>
</div>
<script>
    let element = document.querySelector("#login")
    element.classList.add("active")
    element.setAttribute("aria-current", "page")
</script>
{% endblock %}