{% extends "layout.html" %}

{% block title %}: Progress{% endblock %}

{% block body %} 
    <div class="container mb-3">
        <h3>Progress Graphs</h3>
    </div>
    <div class="container mb-3">
        <form action="/progress" method="post" id="unit-form">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="unit" id="kg" value="kg">
                <label class="form-check-label" for="kg">
                    kg
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="unit" id="lbs" value="lbs">
                <label class="form-check-label" for="lbs">
                    lbs
                </label>
            </div>
        </form>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Choose Which Graphs to Show
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="/progress" method="post" id="graph-form">
                        {% for e in exercises %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="exercise" id="{{ loop.index0 }}" value="{{ e }}">
                            <label class="form-check-label">{{ e }}</label>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Show chosen graphs and keep the checkboxes of chosen graphs checked -->
    {% if session["graph"] %}
    <img src="/graph.png">
    {% for ch in session["graph"] %}
    <script>
        document.getElementById("{{ ch[0]|safe }}").checked = true
    </script>
    {% endfor %}
    {% endif %}

    <!-- Keep correct radio button checked for unit user has chosen -->
    {% if session["unit"] == "kg" %}
    <script>
        document.getElementById("kg").checked = true
    </script>
    {% else %}
    <script>
        document.getElementById("lbs").checked = true
    </script>
    {% endif %}
    <script>
        document.getElementById("progress").classList.add("link-dark")

        /* submit unit and graphs to show without submit button */
        let graph = document.getElementById("graph-form")
        graph.addEventListener("change", function onchange() {
            graph.submit();
        });
        let unit = document.getElementById("unit-form")
        unit.addEventListener("change", function uchange() {
            unit.submit();
        });
    </script>
{% endblock %}