{% extends "layout.html" %}

{% block title %}: Progress{% endblock %}

{% block body %} 
    <div class="container mb-3">
        <h3>Progress Graphs</h3>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Choose Which Graphs to Show
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="/progress" method="post" id="graph-form">
                        {% for e in exercises %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="exercise" id="{{ loop.index0 }}" value="{{ e }}">
                            <label class="form-check-label">{{ e }}</label>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if session["graph"] %}
    <img src="/graph.png">
    {% for ch in session["graph"] %}
    <script>
        document.getElementById("{{ ch[0]|safe }}").checked = true
    </script>
    {% endfor %}
    {% endif %}
    <script>
        let element = document.querySelector("#progress")
        element.classList.add("active")
        element.setAttribute("aria-current", "page")
        let form = document.getElementById("graph-form")
        form.addEventListener("change", function onchange() {
            form.submit();
        });
    </script>
{% endblock %}